<!DOCTYPE html>
<html lang="en">
<head>
  <title>Крошки на ножках.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="D:/Python_Project/FlaskApp/static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<div id="headerMain">
 <div id="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"> Главная <span class="sr-only">(current)</span></a>
          </li>
          {% if current_user.is_authenticated and current_user.about != '123' %}
          <li class="nav-item">
            <a class="nav-link" href="/basket"> Сделать заказ </a>
          </li>
          {% endif %}
          {% if not current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/register"> Регистрация </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login"> Вход </a>
          </li>
          {% endif %}
        </ul>
        <form class="form-inline">
        <div class="input-group">
            <nav class="navbar navbar-light bg-light">
        {% if current_user.is_authenticated %}
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
          </div>
            <a type="text" class="form-control" href="/logout">{{ current_user.name }}</a>
        {% endif %}
            </nav>
        </div>
      </form>
      </div>
    </nav>
  </div>
</div>

<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>