{% extends "basket.html" %}

{% block expectation %}

<div class="jumbotron text-center" style="margin-bottom:0">
    <div> Форма отправлена...</div>
    <div> Форма обрабатывается...</div>
    {% if surName == False %}
    <div> Вы не назвали ни своего имени, ни фамилии! Мы не знаем, как называть вас :С</div>
    {% elif tel == False %}
    <div> Мы очень уважаем ваше личное пространство, но если вы не введёте корректный номер, курьер не сможет связаться
        с
        вами!
    </div>
    {% elif path == False %}
    <div> Вашего дома нет на карте! Перепроверьте адресс дома, к которому надо доставить заказ!</div>
    {% elif order == False %}
    <div> Ваш заказ слишком сложный, а я глупенький компьютер :С Оформите его правильно, чтобы мы вас поняли!</div>
    {% elif payment == False %}
    <div> Ой, ой, ой, какой непонятный способ оплаты... Выберите, пожалуйста, из предложенных!</div>
    {% else %}
    <div> Всё верно! Вычисляю конечную цену и курьер прибегает к вам! Готовьтесь открывать ему дверку!</div>
    {% endif %}
</div>


{% endblock %}