{% extends "base.html" %}

{% block content %}

<style>
    .fakeimg {
        height: 200px;
        background: #aaa;
  }
</style>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Вас приветствуют "Крошки на ножках"!</h1>
  <p> Познакомимся? </p>
</div>

<main role="main" class="container">
    {% block body %}{% endblock %}
</main>

{% if not current_user.is_authenticated %}
<div class="jumbotron text-center" style="margin-bottom:0">
  <div> Привет! Пожалуйста, зарегистрируйтесь или войдите в систему, </div>
  <div> чтобы иметь возможность пользоваться нашими услугами! </div>
</div>
{% elif current_user.is_authenticated and current_user.about != '123' %}
<div class="jumbotron text-center" style="margin-bottom:0">
  <div> Вас приветствует компания доставки "Крошки на ножках"! </div>
  <div> Мы доставляем продукты из магазинов "Эдельвейс" по всей Казани! </div>
  <div> Чтобы заказать нашу услугу, кликните на "сделать заказ" и в течении двух часов курьер </div>
  <div> доставит продукты прямо к вашему дому!</div>
  <div> Также наши курьеры могут приехать к вам домой и сами приготовить вам ужин, обед или завтрак! </div>
  <div> Вам нужно лишь пройти по той же ссылочке и сделать заказ, отметив в определённой графе </div>
  <div> ваши предпочтения к блюду, а также его цену без учёта цены за услугу готовки! </div>
</div>
{% endif %}

{% endblock %}